/* root element for custom style to apply in various tags and elms */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
    --font-family-base: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-family-title: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
    /* custom font size */
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
    /* custom wieght of font */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* custom property for height */
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
    /* custom aligning */
    --section-header-align: center;
    --section-tagline-transform: uppercase;
    --section-title-margin: 0;
    --section-title-color: var(--color-black);
}
/* style content in html */
html {
    font-size: 62.5%;
}
/* style the body */
body,
a {
  color: var(--text-color);
  font-size: var(--font-size-medium);
}
body{
    background-color: #161616;
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
}
/* style heading levels */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
}
/* style anchor tag */
a{
    background-color: #161616;
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
}
/* style classes */
section-tagline,
.card-category {
  color: var(--color-primary); /*apply default root style on cls*/
}
.visually-hidden{
    display: none;
}
.card-category{
    background-color: #D73953;
}
.section-tagline{
    background-color: #D73953;
}
.section-header{
    text-align: var(--section-header-align);
}
.section-tagline {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
    text-transform: var(--section-tagline-transform);
}
.section-title {
    font-family: var(--font-family-title);
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
    margin: var(--section-title-margin);
    color: var(--section-title-color);
}
/* style id */
